<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506329404726-fpp8fda2hunm4opscjc5fq9i2lsk24eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506329404726-fpp8fda2hunm4opscjc5fq9i2lsk24eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDLMsE2gg_uIhR7SHwpFgpNHWB3gTuznAw</string>
	<key>GCM_SENDER_ID</key>
	<string>506329404726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.kowtel</string>
	<key>PROJECT_ID</key>
	<string>cupid-sos</string>
	<key>STORAGE_BUCKET</key>
	<string>cupid-sos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506329404726:ios:f1a9848baba48f57a84f97</string>
</dict>
</plist>